.main {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}

.fullscreenImage {
	/*make the background image cover the container*/
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/*Format the next and previous button*/
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

